@import 'ml-colors';

.ml-font {
  font-family: arial
}

.ml-container {
  box-sizing: border-box;
  max-width: 75%;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background: white;

  img {
    border-radius: 4px;
    width: 180px; 
    height: 180px;
    margin: 16px
  }
 
  .ml-item-categories {
    @extend .ml-font;
    background: $ml-background;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 13px;
    color: #00000063
 }

}


hr {
  border-color: $ml-background
}

.ml-price {
  position: absolute;
  margin-top: 35px;
  font-size: 24px;
  font-family: arial
}

.ml-title {
  margin-left: 212px;
  max-width: 50%;

  label {
    position: absolute;
    margin-top: -131px;

    font-size: 20px;
    max-width: 40%;

    a {
      @extend .ml-font;
      text-decoration: none;
      color: black
    }
  }
}

.ml-free-shipping {
  margin-left: 320px;

  label {
    position: absolute;
    margin-top: -176px
  }

  span {
    background-image:url('../assets/ic_shipping.png');
    background-repeat:no-repeat;
    background-position: center;
    padding: 6px
  }
}

.ml-province {
  @extend .ml-font;
  margin-left: 82%;
  
  label {
    position: absolute;
    margin-top: -146px
  }

}

.ml-item-img {
  img {
    height: 680px !important;
    width: 680px !important
  }

}

.ml-item-condition {
  @extend .ml-font;
  margin-left: 60%;

  label {
    position: absolute;
    top: 60px;
    font-size: small
  }
}

.ml-item-title {
  @extend .ml-font;
  margin-left: 60%;

  label {
    max-width: 20%;
    position: absolute;
    top: 99px;
    font-weight: bold;
    font-size: larger
  }
}

.ml-item-price {
  @extend .ml-font;
  margin-left: 60%;

  label {
    position: absolute;
    top: 169px;
    font-size: xx-large
  }
}

.ml-item-button {
  @extend .ml-font;
  margin-left: 60%;

  button {
    width: 244px;
    height: 55px;
    font-size: larger;
    color: white;
    background: $ml-button;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 237px
  }
}

.ml-item-description {
  @extend .ml-font;
  margin-left: 32px;
  padding-bottom: 32px;
  margin-top: 85px;

  label {
    font-size: 25px;
  }

  p {
    white-space: pre-line;
    max-width: 58%;
    color: #00000082
  }
}